@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-base;
}

@layer components {
  .top-btn {
    @apply flex flex-col justify-items-center items-center bg-transparent hover:bg-black/10 rounded-md border-0 px-3 py-1 cursor-pointer transition;
  }

  .btn-primary {
    @apply bg-blue-600 text-white hover:bg-blue-700 rounded-md border-0 px-3 py-1 cursor-pointer transition;
  }

  .input-text {
    @apply border rounded border-gray-300 py-1 px-2 mt-2 dark:bg-gray-700 dark:border-gray-900;
  }
}

/* Estilização da scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: theme('colors.gray.100'); /* fundo claro */
}

::-webkit-scrollbar-thumb {
  background-color: theme('colors.gray.400'); /* cor da barra */
  border-radius: 6px;
}

/* Hover no thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: theme('colors.gray.500');
}

/* Modo dark */
.dark ::-webkit-scrollbar-track {
  background: theme('colors.gray.800');
}

.dark ::-webkit-scrollbar-thumb {
  background-color: theme('colors.gray.600');
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: theme('colors.gray.500');
}